
button {
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: .25px;
  line-height: normal;
  padding: 11px 24px;
  transition: background box-shadow 280ms ease;
  margin: 10px;
 }
 
 button:hover {
  background: #F6F9FE;
  color: #174ea6;
 }
 
 button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
  border: 2px solid #4285f4;
 }


 input {
  border-radius: 5px;
  padding: 10px;
  border: none;
  background-color: #f7f7f7;
  margin-left: 10px;
  font-size: 14px;
}

label{
  font-size: 14px;
}



table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td,th {
  padding: 0;
}

.pure-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  margin: 0 auto;
}

.pure-table caption {
  color: #000;
  font: italic 85%/1 arial,sans-serif;
  padding: 1em 0;
  text-align: center;
}

.pure-table td,.pure-table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
}

.pure-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

.pure-table td {
  background-color: transparent;
}

.pure-table-odd td {
  background-color: #f2f2f2;
}

/*定义竖屏 css*/
@media screen and (orientation:portrait) {
  #context{
    width: 100%;
  }
}
/*定义横屏 css*/
@media screen and (orientation:landscape) {
  #context{
    width: 70%;
  }
  
}
